
<p-megaMenu styleClass="flex justify-content-end flex-wrap bg-red">
    <ng-template pTemplate="start">
        <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" />
    </ng-template>
    <ng-template pTemplate="end">
        <ng-container *ngIf="!logged">
            <p-toast></p-toast>
            <p-button (click)="show()" icon="pi pi-user" label="Access"></p-button>
        </ng-container>        
        <app-logged *ngIf="logged"></app-logged>
    </ng-template>
</p-megaMenu>