<p-card [header]="sponsored.name" [subheader]="sponsored.birth | age" [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
        <img alt="Main profile picture" [src]="sponsored.imgs[0]" />
    </ng-template>
    <p>
        {{ sponsored.description }}
    </p>
    <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
    </ng-template>
</p-card>