@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import "primeicons/primeicons.css";
@import '/node_modules/primeflex/primeflex.css';

@import 'assets/styles/guidestyle.scss';

a {
    color: $blue;
}

input[type='checkbox'] {
    width: 0;
    height: 0;
}

p-button {
    cursor: pointer;
}

.bg-red {
    background-color: $red;
}

.p-component-overlay {
    background-color: rgba(255, 255, 255, 0.4);
    transition-duration: 0.2s;
    backdrop-filter: blur(2px);
}

input#legal {
    opacity: 0;
}

.legal .p-checkbox {
    width: 40px;
    margin-right: -5px;
    top: -2px;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:not(.p-disabled):focus {
    box-shadow: none;
}

.p-dialog-title {
    width: 100%;
    text-align: center;
}

.tabmenu-login {
    margin-bottom: $size*2;
    .p-tabmenuitem {
        width: 50%;
        a {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}

.login-modal .p-dialog-content {
    padding: $size*2 0;
}

.form-login {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    justify-content: center;
    .p-inputgroup {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-bottom: $size*2;
        small {
            width: 100%;
            text-align: center;
            opacity: 0;
            color: #adadad;
        }
        input.ng-invalid + small {
            opacity: 1;
        }
        small.red {
            color: $red;
        }
    }
}
