@import '../../../../../assets/styles/guidestyle.scss';

.error-container {
    width: 100%;
    padding: $size*4;
    h2 {
        width: 100%;
        text-align: center;
        font-size: $size*4;
    }
}
app-error-animation {
    width: 25%;
    display: flex;
    justify-content: center;
    margin: auto;
}
